*{
    box-sizing: border-box;
}

#root{
    display: flex;
    box-sizing: border-box;
}

.inputSection{
    flex-basis: 750px;
}

.resumeSection{
    flex-grow: 1;
    padding: 10px 30px 20px 30px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    margin-bottom: 0;
    font-size: 2.5rem;
}

header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
}

a{
    color: black;
    font-size: 1.1rem;
    text-align: center;
}

.education h1,.experience h1,.project h1,.skills h1{
    margin-bottom: 0;
    font-size: 1.7rem;
}

.education ul{
    list-style: none;
    display: flex;
    padding: 5px 15px 0px 15px;
    margin: 0;
    gap: 10px;
    margin-bottom: 5px;
}

.education ul button{
    height: min-content;
}

.userEducation{
    flex-grow: 1; 
}

.heading{
    display: flex;
    justify-content: space-between;
}

.nameAndMajor{
    flex: 1;
}

.nameAndMajor > li:nth-child(1) ,.experienceNameAndMajor > li:nth-child(1){
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.nameAndMajor > li:nth-child(2), .experienceNameAndMajor > li:nth-child(2){
    font-size: 1.1rem;
}

.placeAndDate li:nth-child(1), .experiencePlaceAndDate li:nth-child(1){
    font-size: 1.2rem;
    margin-bottom: 5px;
}

hr{
    margin: 2px;
}

.experience ul:not(.expList){
    display: flex;
    list-style: none;
    padding: 5px 15px 0px 15px; 
    margin: 0;
    gap: 10px;
}

.experience button{
    height: min-content;
}

.userExperience{
    flex-grow: 1;
}

.expList{
    font-size: 1.1rem;
    padding-left: 30px;
    margin: 5px 0px 5px 0px;
}





