@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

#root{
    display: flex;
    box-sizing: border-box;
}

.inputSection{
    flex-basis: 750px;
}

.resumeSection{
    flex-grow: 1;
    padding: 10px 30px 20px 30px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    margin-bottom: 0;
    font-size: 2.5rem;
}

header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
}

a{
    color: black;
    font-size: 1.1rem;
    text-align: center;
}

.education h1,.experience h1,.project h1,.skills h1{
    margin-bottom: 0;
    font-size: 1.8rem;
}

.education ul{
    list-style: none;
    display: flex;
    padding: 5px 15px 0px 15px;
    margin: 0;
    gap: 10px;
    margin-bottom: 5px;
}

.education ul button{
    height: min-content;
}

.userEducation{
    flex-grow: 1; 
}

.heading{
    display: flex;
    justify-content: space-between;
}

.nameAndMajor{
    flex: 1;
}

.nameAndMajor > li:nth-child(1) ,.experienceNameAndMajor > li:nth-child(1){
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.nameAndMajor > li:nth-child(2), .experienceNameAndMajor > li:nth-child(2){
    font-size: 1.1rem;
}

.placeAndDate li:nth-child(1), .experiencePlaceAndDate li:nth-child(1){
    font-size: 1.2rem;
    margin-bottom: 5px;
}

hr{
    margin: 2px;
}

.experience ul:not(.expList){
    display: flex;
    list-style: none;
    padding: 5px 15px 0px 15px; 
    margin: 0;
    gap: 10px;
}

.experience button{
    height: min-content;
}

.userExperience{
    flex-grow: 1;
}

.expList{
    font-size: 1.1rem;
    padding-left: 30px;
    margin: 5px 0px 5px 0px;
}

.project ul:not(.projectDescription){
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 8px;
}

.project > div{
    margin-top: 8px;
}

.project ul>div:nth-child(1){
    flex-grow: 1;
}

.projectHeading{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.projectHeading>div{
    display: flex;
    gap: 3px; 
    font-size: 1.1rem;
}

.project button{
    height: min-content;
}

.projectNameAndSkills {
    align-items: center;
    margin-bottom: 5px;
}

.projectNameAndSkills li:nth-child(1){
    font-size: 1.3rem;
    font-weight: 600;
}

.projectList{
    font-size: 1.2rem;
}

.projectDescription > li::marker{
    color: black;
}

.skills h3{
    margin: 5px;
}

.skills h3 span{
    font-weight: 400;
}





